optilux.db
optilux.db-journal
optilux.db-wal
factures/
assets/products/
assets/factures_stockees/
__pycache__/
*.pyc
.venv/
check_fields.py
test_toast.py
PyWhatKit_DB.txt
*.zip
optilux_clean/
build_release.ps1
build_release.bat
exclude.txt
.DS_Store
Thumbs.db